* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
  box-sizing: content-box;

}


#root {
  width: 100%;
  height: 100vh;
  background-color: #4343F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 0;
  padding: 20px;
}

.upside {
 border-radius: 20px;
 box-shadow: 0 0 10px rgba(0,0,0,0.2);
 border: none;
}

section {
  width: 40px;
  height: 40px;
  border: 1px solid red;
  display: block;
  align-items: center;
}

.side {
  width: 40px;
  height: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 20px;
  
}

section:nth-child(2) {
  width: 100%;
  height: unset;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 0;
}

button {
  width: 240px;
  height: 360px;
  background-color: #4343F9;
  color: #FFF;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border: none;
  font-size: 24px;
  
}